<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="waiting-room">

  <div id="navbar" style="display: none;">
      <p id="username"></p>
      <div id="profile-picture">
          <a href="/authentication">
              <img id='user_picture'>
          </a>
      </div>
  </div>

  <div id="main-div">
    <div>
      <img />
      <span></span>
      <p>A sessao já vai comecar</p>
      <h3>Aguardando</h3>
    </div>
  </div>

  <p>Testando</p>
  <div id="footer">
      <a href="/news">
          <img id="news" src="../../../assets/news-white.png">
      </a>
      <a href="/shows">
          <img id='shows' src="../../../assets/popcorn-white.png">
      </a>
      <a href="/sports">
          <img id="sports" src="../../../assets/sports-white.png">
      </a>
      <a href="/feat-home">
          <img id="play" src="../../../assets/player-yellow.png">
      </a>
  </div>
</div>
