<div id="waiting-room">
    <div style="margin-left: 10%; margin-top: 30%; margin-bottom: 2%;">Esse feat é um oferecimento</div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="margin-bottom: -5%;"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" style="margin-bottom: -5%;"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2" style="margin-bottom: -5%;"></li>
        </ol>
        <div class="carousel-inner" style="width: 80%; margin-left: 10%;">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../../assets/add_01.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/add_01.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/add_01.png" alt="Third slide">
          </div>
        </div>
    </div>

    <div>
        <img src="../../../assets/waiting_host.png" style="width: 81%; margin-left: 10%; margin-top: 15%;">
    </div>
</div>