<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="content-info">
    <div id="link-copied" class="link-inactive">
        <p>LINK COPIADO COM SUCESSO</p>
    </div>

    <div id="navbar">
        <p id="username"></p>
        <div id="profile-picture">
            <img id="user_picture" src="">
        </div>
    </div>
    
    <div id="top-info">
        <img id="content_img" src="https://i.imgur.com/3aIutJi.png">
        <div id="info">
            <p id="title">TITULO</p>
            <p>Informação breve</p>
            <p>Um oferecimento Globo</p>
            <div id="likes">
                100 RECOMENDAÇÕES
            </div>
        </div>
    </div>

    <div id="description">
        <p>Manifest é uma série de televisão americana dramática criada por Jeff Rake, que estreou em 24 de setembro de 2018, na NBC. A série gira em torno dos passageiros e da tripulação de um avião comercial que repentinamente reaparece após terem sido dados como mortos por cinco anos. É estrelado por Melissa Roxburgh, Josh Dallas, Athena Karkanis, JR Ramirez, Jack Messina, Luna Blaise e Parveen Kaur.</p>
    </div>

    <div id="like" class="like like-inactive">
        <img id='like-img' src="../../../assets/star-white.png">
        <p>RECOMENDAR ESSE FEAT</p>
    </div>

    <div id="recomended-by">
        <p>Feat recomendado por:</p>

        <div class="container" style="width: 95%;">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="recomendations">
                            <!-- <div id="img" style="margin-left: 4.5%;"><img src="https://i.imgur.com/rWtGeQ0.png" class="d-block" alt="js" /></div>
                            <div id="img" style="margin-left: 4.5%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img" style="margin-left: 4.5%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                            <div id="img" style="margin-left: 4.5%; margin-right: 3%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 5%"></div>

    <div id="buttons">
        <div id="create-feat">
            <a id="create-feat-link">Criar feat agora mesmo</a>
        </div>

        <div id="back">
            <a href="/shows">Voltar a navegar</a>
        </div>
    </div>
    
    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-white.png">
        </a>
    </div>
</div>