<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="enter-feat">
    <div id="navbar">
        <p>@wonder_woman</p>
        <div id="profile-picture">
            <img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119">
        </div>
    </div>
    
    <div id="main-div">
        <img src="../../../assets/logo.png">

        <p>Qual o ID do feat?</p>
        <input placeholder="ID do feat (ex: 100293)">
        <div id="enter-feat">
            <a>Entrar neste feat</a>
        </div>
    </div>
    
    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-yellow.png">
        </a>
    </div>
</div>