<div style="color: white; margin: 10%;">
    <img src="../../../assets/logo.png" style="width: 90%; margin-left: 7.5%; margin-top: 10%; margin-bottom: 17.5%;">


    <p style="font-size: 110%;">Bem vindx!</p>
    <p>Para acessar o GloboFeat diretamente, clique <a href="/news" style="color:turquoise;">aqui</a></p>

    <p style="text-align: justify;">A seguir, algumas contas que você pode usar para testar nossos serviços e personalizar como desejar:</p>

    <div id='free-accounts' style="font-size: 90%;"></div>
</div>