<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="news-home">
    <div id="link-copied" class="link-inactive">
        <p>LINK COPIADO COM SUCESSO</p>
    </div>

    <div id="navbar">
        <p id="username">@wonder_woman</p>
        <div id="profile-picture">
            <a href="/authentication">
                <img id='user_picture'>
            </a>
        </div>
    </div>

    <div id="feats-happening">
        <div id="circle"></div>
        <p>FEATS ACONTECENDO</p>

        <div class="container">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="">
                            <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/rWtGeQ0.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            
                            <div id="img"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                            <div id="img2"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="">
                            <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/rWtGeQ0.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            
                            <div id="img"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                            <div id="img2"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="categories">
        <p>CATEGORIAS DE NOTÍCIAS</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                            <div id="img" style="margin-right: 3%;"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                            <div id="img" style="margin-right: 3%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img" style="margin-right: 3%;"><img src="https://i.imgur.com/rWtGeQ0.png" class="d-block" alt="js" /></div>
                            <div id="img" style="margin-right: 9.5%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="">
                            <div id="img" style="margin-right: 3%;"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                            <div id="img" style="margin-right: 3%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img" style="margin-right: 3%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img" style="margin-right: 9.5%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselContainer" role="button" data-slide="prev" style="margin-left: -3.5%;">
                    <span id="previousIcon" aria-hidden="true">></span>
                </a>
                <a class="carousel-control-next active" href="#carouselContainer" role="button" data-slide="next" style="margin-right: -3.5%;">
                    <span id="nextIcon" aria-hidden="true">></span>
                </a>
            </div>
        </div>
    </div>

    <div id="chosenCategory">
        <p>ECONOMIA</p>
        <div id="content">
            <div id="item" class='item'>
                <img src="https://i.imgur.com/3aIutJi.png">
                <div id="description">
                    <h1>Título da notícia</h1>
                    <p>Descrição da notícia de maneira justificada e bem escrita...</p>
                </div>
                <a style="padding-left: 10%;">ler completa</a>
                <a class="share">compartilhar</a>
                <div id="like">
                    080
                    <img src="../../../assets/star.png">
                </div>
            </div>
            <div id="item" class='item'>
                <img src="https://i.imgur.com/3aIutJi.png">
                <div id="description">
                    <h1>Título da notícia</h1>
                    <p>Descrição da notícia de maneira justificada e bem escrita...</p>
                </div>
                <a style="padding-left: 10%;">ler completa</a>
                <a class="share">compartilhar</a>
                <div id="like">
                    100
                    <img src="../../../assets/star.png">
                </div>
            </div>
        </div>

        <div id="load-more">
            <p>Carregar mais</p>
        </div>
    </div>

    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-yellow.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-white.png">
        </a>
    </div>
</div>