<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="share-feat">
    <div id="navbar">
        <p>@wonder_woman</p>
        <div id="profile-picture">
            <img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119">
        </div>
    </div>

    <img id='logo-img' src="../../../assets/logo.png">

    <div id="main-div">
        <div id="invite-text">
            <p>A sessão está pronta!</p>
            <h5>CONVIDE SEUS AMIGOS!</h5>
        </div>

        <div id="feat-info">
        <p>ID deste feat é <span id="feat-id">00000166</span></p>

            <div id="feat-link">
                <p>https://globofeat.com/feat/<span id="feat-id-02">00000166</span></p>
            </div>

            <div id="copy-feat-link">
                <img src="../../../assets/copy.png">
                <p>COPIAR LINK</p>
            </div>
        </div>
        
        <p id="copy-link-text">Copie o link e envie para amigos entrarem no feat com você!</p>

        <div id="buttons">
            <div id="next">
                <a id="next-link">Iniciar transmissão</a>
            </div>
            <div id="back">
                <a href="/choose-feat-type">Voltar</a>
            </div>
        </div>
    </div>

    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-yellow.png">
        </a>
    </div>
</div>