<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="share-feat">
    <div id="link-copied" class="link-inactive">
        <p>LINK COPIADO COM SUCESSO</p>
    </div>

    <div id="navbar" style="display: none;">
        <p id="username"></p>
        <div id="profile-picture">
            <a href="/authentication">
                <img id='user_picture'>
            </a>
        </div>
    </div>


    <div id="main-div">


        <div id="invite-text">
            <p>A sessão está pronta!</p>
            <h5>CONVIDE SEUS AMIGOS!</h5>
        </div>

        <div id="feat-info">
        <p>ID deste feat é <span id="feat-id">00000166</span></p>

            <div id="feat-link">
                <p>https://globofeat.com/feat/<span id="feat-id-02">00000166</span></p>
            </div>

            <a class="share">
                <div id="copy-feat-link">
                    <img src="../../../assets/copy.png">
                    <p>COPIAR LINK</p>
                </div>
            </a>
        </div>

        <p id="copy-link-text">Copie o link e envie para amigos entrarem no feat com você!</p>

        <div id="buttons">
            <div id="next">
                <a id="next-link">Iniciar transmissão</a>
            </div>
            <div id="back">
                <a href="/feat-home">Voltar</a>
            </div>
        </div>
    </div>

    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-yellow.png">
        </a>
    </div>
</div>
