<div id="authentication">
    <img src="../../../assets/logo.png">
    
    <a href="/login">
        <div id="login" class="login_div" style="display: none;">
            <p>Fazer novo login</p>
        </div>
    </a>

    <a href="https://login.globo.com/cadastro/4728?tam=widget&url=https%3A%2F%2Fintervencao.globo.com%2Fintervencoes%2Fshow.do%3Fpopin%3Dtrue%26servicoId%3D4728%26urlIntervencao%3Dhttps%3A%2F%2Fs.glbimg.com%2Fgl%2Fba%2Fbarra-globocom.callback.html%2523https%253A%252F%252Fwww.globo.com%252F&_ga=2.115386063.87881601.1588196625-2821541452.1587778078&glbProduct=UA-296593-2&component=barra_gcom">
        <div id="create-account"class="create_account_div" style="display: none;">
            <p>Cadastre-se de graça</p>
        </div>
    </a>

    <a>
        <div id="login" class="add_friends" style="display: none;">
            <p>Adicionar amigos</p>
        </div>
    </a>

    <a>
        <div id="login" class="personalize_profile" style="display: none;">
            <p>Personalizar perfil</p>
        </div>
    </a>

    <a>
        <div id="login" class="exit" style="margin-top: 7%; background: #FFD439;">
            <p style="margin-left: -5%; text-align: center;">Sair</p>
        </div>
    </a>

    <a href="/news">
        <div id="later">
            <p>Voltar a navegar</p>
        </div>
    </a>
</div>