<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="choose-show-feat-content">
    <div id="navbar" style="display: none;">
        <p id="username"></p>
        <div id="profile-picture">
            <a href="/authentication">
                <img id='user_picture'>
            </a>
        </div>
    </div>

    <img id='logo-img' src="../../../assets/logo.png">

    <input style='font-size: 100%; padding-top: 1.5%; padding-bottom: 1%;' type="text" placeholder="Pesquisar conteúdo">

    <div id="chosen-content" class="chosen-content" style="background-color: rgb(42, 43, 43);">
        <p id="close">X</p>
        <img id="chosen-content-img" src="https://i.imgur.com/3aIutJi.png">
        <p id="chosen-content-title">Titulo</p>
        <a id="choose-content-link">
            <div id="choose-content">
                <p>Escolher conteúdo</p>
            </div>
        </a>
    </div>

    <div id="series-movies">
        <p style="margin-top: 2%;">ENTRETENIMENTO</p>

        <div class="container" style="margin-top: 2%;">
            <div class="carousel-inner">
                <a class="choose-title data_text" alt="100000">
                    <span style="display:'none'">100000</span>
                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                </a>
                <a class="choose-title data_text" alt="100001">
                    <span style="display:'none'">100001</span>
                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                </a>
                <a class="choose-title data_text" alt="100002">
                    <span style="display:'none'">100002</span>
                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                </a>

                <div id="titles">
                    <p style="width: 28%; margin-left: 0.75%;" class="100000">Titulo 1</p>
                    <p style="width: 28%; margin-left: 3.5%;" class="100001">Titulo longo</p>
                    <p style="width: 28%; margin-left: 5%;" class="100002">Titulo muito longo</p>
                </div>
            </div>
            <div style="width: 97%;
                height: 3px;
                margin-bottom: 6%;
                margin-top: 1%;
                background: #2e2e2e;">
            </div>
        </div>
      </div>

        <div id="series-movies">
            <p style="margin-top: 2%;">ROMANCE</p>

            <div class="container" style="margin-top: 2%;">
                <div class="carousel-inner">
                    <a class="choose-title data_text" alt="100003">
                        <span style="display:'none'">100003</span>
                        <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                    </a>
                    <a class="choose-title data_text" alt="100004">
                        <span style="display:'none'">100004</span>
                        <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                    </a>
                    <a class="choose-title data_text" alt="100005">
                        <span style="display:'none'">100005</span>
                        <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                    </a>

                    <div id="titles">
                        <p style="width: 28%; margin-left: 0.75%;" class="100003">Titulo 1</p>
                        <p style="width: 28%; margin-left: 3.5%;" class="100004">Titulo longo</p>
                        <p style="width: 28%; margin-left: 5%;" class="100005">Titulo muito longo</p>
                    </div>
                </div>
                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
          </div>

            <div id="series-movies">
                <p style="margin-top: 2%;">AÇÃO</p>

                <div class="container" style="margin-top: 2%;">
                    <div class="carousel-inner">
                        <a class="choose-title data_text" alt="100006">
                            <span style="display:'none'">100006</span>
                            <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                        </a>
                        <a class="choose-title data_text" alt="100007">
                            <span style="display:'none'">100007</span>
                            <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                        </a>
                        <a class="choose-title data_text" alt="100008">
                            <span style="display:'none'">100008</span>
                            <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                        </a>

                        <div id="titles">
                            <p style="width: 28%; margin-left: 0.75%;" class="100006">Titulo 1</p>
                            <p style="width: 28%; margin-left: 3.5%;" class="100007">Titulo longo</p>
                            <p style="width: 28%; margin-left: 5%;" class="100008">Titulo muito longo</p>
                        </div>
                    </div>
                    <div style="width: 97%;
                        height: 3px;
                        margin-bottom: 6%;
                        margin-top: 1%;
                        background: #2e2e2e;">
                    </div>
                </div>
              </div>

              <div id="series-movies">
                  <p style="margin-top: 2%;">NOVELAS</p>

                  <div class="container" style="margin-top: 2%;">
                      <div class="carousel-inner">
                          <a class="choose-title data_text" alt="100009">
                              <span style="display:'none'">100009</span>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                          </a>
                          <a class="choose-title data_text" alt="100010">
                              <span style="display:'none'">100010</span>
                              <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                          </a>
                          <a class="choose-title data_text" alt="100011">
                              <span style="display:'none'">100011</span>
                              <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                          </a>

                          <div id="titles">
                              <p style="width: 28%; margin-left: 0.75%;" class="100009">Titulo 1</p>
                              <p style="width: 28%; margin-left: 3.5%;" class="100010">Titulo longo</p>
                              <p style="width: 28%; margin-left: 5%;" class="100011">Titulo muito longo</p>
                          </div>
                      </div>
                      <div style="width: 97%;
                          height: 3px;
                          margin-bottom: 6%;
                          margin-top: 1%;
                          background: #2e2e2e;">
                      </div>
                  </div>
                </div>

                <div id="series-movies">
                    <p style="margin-top: 2%;">DRAMA</p>

                    <div class="container" style="margin-top: 2%;">
                        <div class="carousel-inner">
                            <a class="choose-title data_text" alt="100012">
                                <span style="display:'none'">100012</span>
                                <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                            </a>
                            <a class="choose-title data_text" alt="100013">
                                <span style="display:'none'">100013</span>
                                <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                            </a>
                            <a class="choose-title data_text" alt="100014">
                                <span style="display:'none'">100014</span>
                                <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                            </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class="100012">Titulo 1</p>
                                <p style="width: 28%; margin-left: 3.5%;" class="100013">Titulo longo</p>
                                <p style="width: 28%; margin-left: 5%;" class="100014">Titulo muito longo</p>
                            </div>
                        </div>
                        <div style="width: 97%;
                            height: 3px;
                            margin-bottom: 6%;
                            margin-top: 1%;
                            background: #2e2e2e;">
                        </div>
                    </div>
                  </div>

                  <div id="series-movies">
                      <p style="margin-top: 2%;">COMÉDIA</p>

                      <div class="container" style="margin-top: 2%;">
                          <div class="carousel-inner">
                              <a class="choose-title data_text" alt="100015">
                                  <span style="display:'none'">100015</span>
                                  <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                              </a>
                              <a class="choose-title data_text" alt="100016">
                                  <span style="display:'none'">100016</span>
                                  <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                              </a>
                              <a class="choose-title data_text" alt="100017">
                                  <span style="display:'none'">100017</span>
                                  <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                              </a>

                              <div id="titles">
                                  <p style="width: 28%; margin-left: 0.75%;" class="100015">Titulo 1</p>
                                  <p style="width: 28%; margin-left: 3.5%;" class="100016">Titulo longo</p>
                                  <p style="width: 28%; margin-left: 5%;" class="100017">Titulo muito longo</p>
                              </div>
                          </div>
                          <div style="width: 97%;
                              height: 3px;
                              margin-bottom: 6%;
                              margin-top: 1%;
                              background: #2e2e2e;">
                          </div>
                      </div>
                    </div>

                    <div id="series-movies">
                        <p style="margin-top: 2%;">GUERRA</p>

                        <div class="container" style="margin-top: 2%;">
                            <div class="carousel-inner">
                                <a class="choose-title data_text" alt="100018">
                                    <span style="display:'none'">100018</span>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                                </a>
                                <a class="choose-title data_text" alt="100019">
                                    <span style="display:'none'">100019</span>
                                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                                </a>
                                <a class="choose-title data_text" alt="100020">
                                    <span style="display:'none'">100020</span>
                                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                                </a>

                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class="100018">Titulo 1</p>
                                    <p style="width: 28%; margin-left: 3.5%;" class="100019">Titulo longo</p>
                                    <p style="width: 28%; margin-left: 5%;" class="100020">Titulo muito longo</p>
                                </div>
                            </div>
                            <div style="width: 97%;
                                height: 3px;
                                margin-bottom: 6%;
                                margin-top: 1%;
                                background: #2e2e2e;">
                            </div>
                        </div>
                      </div>

                      <div id="series-movies">
                          <p style="margin-top: 2%;">TERROR</p>

                          <div class="container" style="margin-top: 2%;">
                              <div class="carousel-inner">
                                  <a class="choose-title data_text" alt="100021">
                                      <span style="display:'none'">100021</span>
                                      <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                                  </a>
                                  <a class="choose-title data_text" alt="100022">
                                      <span style="display:'none'">100022</span>
                                      <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                                  </a>
                                  <a class="choose-title data_text" alt="100023">
                                      <span style="display:'none'">100023</span>
                                      <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                                  </a>

                                  <div id="titles">
                                      <p style="width: 28%; margin-left: 0.75%;" class="100021">Titulo 1</p>
                                      <p style="width: 28%; margin-left: 3.5%;" class="100022">Titulo longo</p>
                                      <p style="width: 28%; margin-left: 5%;" class="100023">Titulo muito longo</p>
                                  </div>
                              </div>
                              <div style="width: 97%;
                                  height: 3px;
                                  margin-bottom: 6%;
                                  margin-top: 1%;
                                  background: #2e2e2e;">
                              </div>
                          </div>
                        </div>

                        <div id="series-movies">
                            <p style="margin-top: 2%;">SCI-FI</p>

                            <div class="container" style="margin-top: 2%;">
                                <div class="carousel-inner">
                                    <a class="choose-title data_text" alt="100024">
                                        <span style="display:'none'">100024</span>
                                        <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                                    </a>
                                    <a class="choose-title data_text" alt="100025">
                                        <span style="display:'none'">100025</span>
                                        <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                                    </a>
                                    <a class="choose-title data_text" alt="100026">
                                        <span style="display:'none'">100026</span>
                                        <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                                    </a>

                                    <div id="titles">
                                        <p style="width: 28%; margin-left: 0.75%;" class="100024">Titulo 1</p>
                                        <p style="width: 28%; margin-left: 3.5%;" class="100025">Titulo longo</p>
                                        <p style="width: 28%; margin-left: 5%;" class="100026">Titulo muito longo</p>
                                    </div>
                                </div>
                                <div style="width: 97%;
                                    height: 3px;
                                    margin-bottom: 6%;
                                    margin-top: 1%;
                                    background: #2e2e2e;">
                                </div>
                            </div>
                          </div>

                          <div id="series-movies">
                              <p style="margin-top: 2%;">MUSICAL</p>

                              <div class="container" style="margin-top: 2%;">
                                  <div class="carousel-inner">
                                      <a class="choose-title data_text" alt="100027">
                                          <span style="display:'none'">100027</span>
                                          <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                                      </a>
                                      <a class="choose-title data_text" alt="100028">
                                          <span style="display:'none'">100028</span>
                                          <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                                      </a>
                                      <a class="choose-title data_text" alt="100029">
                                          <span style="display:'none'">100029</span>
                                          <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                                      </a>

                                      <div id="titles">
                                          <p style="width: 28%; margin-left: 0.75%;" class="100027">Titulo 1</p>
                                          <p style="width: 28%; margin-left: 3.5%;" class="100028">Titulo longo</p>
                                          <p style="width: 28%; margin-left: 5%;" class="100029">Titulo muito longo</p>
                                      </div>
                                  </div>
                                  <div style="width: 97%;
                                      height: 3px;
                                      margin-bottom: 6%;
                                      margin-top: 1%;
                                      background: #2e2e2e;">
                                  </div>
                              </div>
                            </div>

                            <div id="series-movies">
                                <p style="margin-top: 2%;">HISTÓRICOS</p>

                                <div class="container" style="margin-top: 2%;">
                                    <div class="carousel-inner">
                                        <a class="choose-title data_text" alt="100030">
                                            <span style="display:'none'">100030</span>
                                            <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                                        </a>
                                        <a class="choose-title data_text" alt="100031">
                                            <span style="display:'none'">100031</span>
                                            <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                                        </a>
                                        <a class="choose-title data_text" alt="100032">
                                            <span style="display:'none'">100032</span>
                                            <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                                        </a>

                                        <div id="titles">
                                            <p style="width: 28%; margin-left: 0.75%;" class="100030">Titulo 1</p>
                                            <p style="width: 28%; margin-left: 3.5%;" class="100031">Titulo longo</p>
                                            <p style="width: 28%; margin-left: 5%;" class="100032">Titulo muito longo</p>
                                        </div>
                                    </div>
                                    <div style="width: 97%;
                                        height: 3px;
                                        margin-bottom: 6%;
                                        margin-top: 1%;
                                        background: #2e2e2e;">
                                    </div>
                                </div>
                              </div>

                              <div id="series-movies">
                                  <p style="margin-top: 2%;">CRIANÇAS</p>

                                  <div class="container" style="margin-top: 2%;">
                                      <div class="carousel-inner">
                                          <a class="choose-title data_text" alt="100033">
                                              <span style="display:'none'">100033</span>
                                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                                          </a>
                                          <a class="choose-title data_text" alt="100034">
                                              <span style="display:'none'">100034</span>
                                              <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 1" /></div>
                                          </a>
                                          <a class="choose-title data_text" alt="100035">
                                              <span style="display:'none'">100035</span>
                                              <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo 1" /></div>
                                          </a>

                                          <div id="titles">
                                              <p style="width: 28%; margin-left: 0.75%;" class="100033">Titulo 1</p>
                                              <p style="width: 28%; margin-left: 3.5%;" class="100034">Titulo longo</p>
                                              <p style="width: 28%; margin-left: 5%;" class="100035">Titulo muito longo</p>
                                          </div>
                                      </div>
                                      <div style="width: 97%;
                                          height: 3px;
                                          margin-bottom: 6%;
                                          margin-top: 1%;
                                          background: #2e2e2e;">
                                      </div>
                                  </div>
                                </div>

              <div style="margin-bottom: 25%;"></div>

    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-yellow.png">
        </a>
    </div>
</div>
