<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="choose-show-feat-content">
    <div id="navbar" style="display: none;">
        <p id="username"></p>
        <div id="profile-picture">
            <a href="/authentication">
                <img id='user_picture'>
            </a>
        </div>
    </div>
    
    <img id='logo-img' src="../../../assets/logo.png">

    <input style='font-size: 100%; padding-top: 1.5%; padding-bottom: 1%;' id='search-input' type="text" placeholder="Pesquisar conteúdo">

    <div id="chosen-content" class="chosen-content" style="background-color: rgb(42, 43, 43);">
        <p id="close">x</p>
        <img id="chosen-content-img" src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif">
        <p id="chosen-content-title">Titulo</p>
        <a id="choose-content-link">
            <div id="choose-content">
                <p>Escolher conteúdo</p>
            </div>
        </a>
    </div>
    
    <div id="main-div">
        <div id="series-movies" class="series-movies display reality-show">
            <p>REALITY SHOWS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100000'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100001'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100002'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100000'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100001'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100002'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display romance">
            <p>ROMANCE</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100003'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100004'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100005'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100003'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100004'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100005'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display action">
            <p>AÇÃO</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100006'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100007'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100008'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100006'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100007'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100008'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display novel">
            <p>NOVELAS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100009'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100010'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100011'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100009'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100010'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100011'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display drama">
            <p>DRAMA</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100012'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100013'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100014'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100012'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100013'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100014'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display comedy">
            <p>COMÉDIA</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100015'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100016'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100017'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100015'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100016'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100017'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display war">
            <p>GUERRA</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100018'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100019'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100020'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100018'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='1000119'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100020'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display horror">
            <p>TERROR</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100021'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100022'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100023'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100021'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100022'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100023'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display sci-fi">
            <p>SCI-FI</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100024'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100025'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100026'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100024'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100025'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100026'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display musical">
            <p>MUSICAL</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100027'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100028'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100029'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100027'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100028'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100029'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display historical">
            <p>HISTÓRICOS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100030'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100031'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100032'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100030'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100031'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100032'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display kids">
            <p>CRIANÇAS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='100033'>
                                    <div id="img"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100034'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='100035'>
                                    <div id="img" style="margin-left: 5%"><img src="https://miro.medium.com/max/512/1*inYwyq37FdvRPLRphTqwBA.gif" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100033'></p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100034'></p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100035'></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 25%;"></div>

    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-yellow.png">
        </a>
    </div>
</div>