<div id="login">
    <img src="../../../assets/logo.png">

    <div id="email">
        <p>Email:</p>
        <input type="email" id='input-email' placeholder="seu email">
    </div>

    <div id="password">
        <p>Senha:</p>
        <input type="password" id='input-password' placeholder="sua senha">
    </div>

    <p style="margin-top: -5%; margin-bottom: 10%; display: none" id="try-again">Dados incorretos!</p>

    <div id="login" class="login-btn">
        <p>Fazer meu login</p>
    </div>

    <a href="/authentication">
        <div id="home">
            <p>Voltar</p>
        </div>
    </a>
</div>