<div id="choose-favorite-shows">
    <div id="step">
        <p>Passo 1/3</p>
    </div>

    <div id="title">
        <p>QUAIS SEUS FILMES</p>
        <p>E SÉRIES FAVORITOS</p>
    </div>

    <div id="divisor"></div>
  
    <div class="quizimgblock">

            <!-- row 01 -->
            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(https://s2.glbimg.com/zz1m2kDUjVRBwIDVXY2s7EI0NVY=/362x536/https://s2.glbimg.com/FuoKTe9NAiEsr4wh2nAt09ny89o=/i.s3.glbimg.com/v1/AUTH_c3c606ff68e7478091d1ca496f9c5625/internal_photos/bs/2019/A/j/wbTJsbStiSR2o7dbUhlg/2019-490-filmes-telecine-agosto-os-parcas-poster.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(https://cdn.telecineplay.com.br/isl/api/v1/dataservice/ResizeImage/$value?Format=%27jpg%27&Quality=90&ImageId=%27211582%27&EntityType=%27Item%27&EntityId=%2715416%27&Width=1440&Height=810&device=%27web_browser%27&subscriptions=%27Anonymous%27&ResizeAction=%27fill%27&HorizontalAlignment=%27center%27&VerticalAlignment=%27top%27);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="background-image: url(https://www.minhaserie.com.br//images/highlights/000/052/815/158.jpg)">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected.png" alt="check">
                </span>
                </a>
            </div>

            <!-- row 02 -->
            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(https://1.bp.blogspot.com/-gfGv3jJrjok/WmIGkpXA3oI/AAAAAAAA85Y/yVdhOeV1gUUJrrNi941D65y4B_ZhxTP1QCLcBGAs/s1600/BBB18_LOGO_TIPO.png);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(https://s2.glbimg.com/KYwQMzjLqwsPjKLCNT9rx1PGvLI=/362x536/https://s2.glbimg.com/mwEJncgzfZ67KZNpVMyK3lBWQIw=/i.s3.glbimg.com/v1/AUTH_c3c606ff68e7478091d1ca496f9c5625/internal_photos/bs/2020/w/K/lUPS4MSli8o4EAoGYXlw/2020-869-manifest-poster.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="background-image: url(https://s2.glbimg.com/22-6Pz2iDFS70TJcu9QH7grEQvg=/362x536/https://s2.glbimg.com/5hzAVvW2Dgz6PV7Mll3AByhl-v0=/i.s3.glbimg.com/v1/AUTH_c3c606ff68e7478091d1ca496f9c5625/internal_photos/bs/2020/I/s/Ed6nQBQPOmHRSf3gwN3w/2019-688-the-good-doctor-o-bom-doutor-poster.jpg)">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected.png" alt="check">
                </span>
                </a>
            </div>

            <!-- row 03 -->
            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(https://br.web.img2.acsta.net/pictures/16/11/18/15/20/442595.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(https://s2.glbimg.com/u7jv5R2fbPMaL9F-VUITVcbNOms=/362x536/https://s2.glbimg.com/0fUiUIVwuQJT-cSJk4tJoSXfhe0=/i.s3.glbimg.com/v1/AUTH_c3c606ff68e7478091d1ca496f9c5625/internal_photos/bs/2019/u/F/HBPShNQcmFOS2GTVY53g/2018-098-media-kit-house-poster-b.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="background-image: url(https://http2.mlstatic.com/dvd-novela-o-clone-completa-em-40-dvds-D_NQ_NP_620224-MLB28129387416_092018-F.jpg)">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected.png" alt="check">
                </span>
                </a>
            </div>

    </div>

    <div id="load-more">
        <p>Carregar mais</p>
    </div>

    <div id="save">
        <p>Salvar preferências</p>
    </div>

    <div id="warning">
        <p>Você poderá alterar depois</p>
    </div>
</div>