<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="sports-home">
    <div id="navbar" style="display: none;">
        <p id="username"></p>
        <div id="profile-picture">
            <a href="/authentication">
                <img id='user_picture'>
            </a>
        </div>
    </div>

    <div id="feats-happening">
        <div id="circle"></div>
        <p>FEATS ACONTECENDO</p>

        <div class="container">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="">
                            <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/rWtGeQ0.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>


                            <div id="img"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                            <div id="img2"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="">
                            <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/rWtGeQ0.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>


                            <div id="img"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                            <div id="img2"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="text" placeholder="Pesquisar conteúdo">

    <div id="sports-section">
        <p>FUTEBOL</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200000']" alt='200000'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200001']" alt='200001'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200002']" alt='200002'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200000'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200001'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200002'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>PREMIERE</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200003']" alt='200003'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200004']" alt='200004'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200005']" alt='200005'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200003'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200004'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200005'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>OLIMPÍADAS</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200006']" alt='200006'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200007']" alt='200007'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200008']" alt='200008'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200006'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200007'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200008'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>FÓRMULA 1</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200009']" alt='200009'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200010']" alt='200010'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200011']" alt='200011'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200009'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200010'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200011'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>UFC</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200012']" alt='200012'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200013']" alt='200013'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200014']" alt='200014'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200012'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200013'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200014'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>VÔLEI</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200015']" alt='200015'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200016']" alt='200016'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200017']" alt='200017'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200015'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200016'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200017'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>BASQUETE</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200018']" alt='200018'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200019']" alt='200019'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200020']" alt='200020'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200018'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200019'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200020'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>SKATE</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200021']" alt='200021'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200022']" alt='200022'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200023']" alt='200023'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200021'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200022'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200023'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>GINÁSTICA</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200024']" alt='200024'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200025']" alt='200025'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200026']" alt='200026'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200024'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200025'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200026'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>NATAÇÃO</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200027']" alt='200027'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200028']" alt='200028'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200029']" alt='200029'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200027'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200028'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200029'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>JUDÔ</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200030']" alt='200030'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200031']" alt='200031'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200032']" alt='200032'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200030'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200031'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200032'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>

    <div id="sports-section">
        <p>TÊNIS</p>

        <div class="container">
            <div id='carouselContainer' class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="">
                          <a class="data_text" [routerLink]="['/content-info-sports', '200033']" alt='200033'>
                              <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                          </a>

                          <a class="data_text" [routerLink]="['/content-info-sports', '200034']" alt='200034'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                          </a>


                          <a class="data_text" [routerLink]="['/content-info-sports', '200035']" alt='200035'>
                              <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                          </a>

                            <div id="titles">
                                <p style="width: 28%; margin-left: 0.75%;" class='200033'>Titulo 1</p>
                                <p style="width: 28%; margin-left: 5.5%;" class='200034'>Titulo longo</p>
                                <p style="width: 28%; margin-left: 6.5%;" class='200035'>Titulo muito longo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 97%;
            height: 3px;
            margin-bottom: 6%;
            margin-top: 1%;
            background: #2e2e2e;">
        </div>
    </div>


    <div style="margin-bottom: 25%;"></div>

    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-yellow.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-white.png">
        </a>
    </div>
</div>
