<div id="createAccount">
    <img src="../../../assets/logo.png">

    <div id="name">
        <p>Nome:</p>
        <input type="text" placeholder="seu nome">
    </div>

    <div id="email">
        <p>Email:</p>
        <input type="email" placeholder="seu email">
    </div>

    <div id="password">
        <p>Senha:</p>
        <input type="password" placeholder="sua senha">
    </div>

    <div id="confirm">
        <p>Concluir cadastro</p>
    </div>

    <div id="home">
        <p>Voltar para tela inicial</p>
    </div>
</div>