<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="shows-home">
    <div id="navbar" style="display: none;">
        <p id="username"></p>
        <div id="profile-picture">
            <a href="/authentication">
                <img id='user_picture'>
            </a>
        </div>
    </div>

    <div id="feats-happening">
        <div id="circle"></div>
        <p>FEATS ACONTECENDO</p>

        <div class="container">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="">
                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>                            
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>                            
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            
                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>
                            <div id="img2"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="">
                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>                            
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>                            
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            
                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>
                            <div id="img2" style="margin-right: 4%;"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>

                            <div id="img">
                                <a [routerLink]="['/content-info', '02345']">
                                    <img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" />
                                </a>
                            </div>
                            <div id="img2"><img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119" class="d-block" alt="js" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="text" id="search-input" placeholder="Pesquisar conteúdo">

    <div id="main-div">
        <div id="series-movies" class="series-movies display reality-show">
            <p>REALITY SHOWS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100000']" alt='100000'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100001']" alt='100001'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100002']" alt='100002'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100000'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100001'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100002'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display romance">
            <p>ROMANCE</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100003']" alt='100003'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100004']" alt='100004'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100005']" alt='100005'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100003'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100004'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100005'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display action">
            <p>AÇÃO</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100006']" alt='100006'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100007']" alt='100007'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100008']" alt='100008'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100006'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100007'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100008'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display novel">
            <p>NOVELAS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100009']" alt='100009'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100010']" alt='100010'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100011']" alt='100011'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100009'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100010'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100011'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display drama">
            <p>DRAMA</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100012']" alt='100012'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100013']" alt='100013'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100014']" alt='100014'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100012'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100013'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100014'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display comedy">
            <p>COMÉDIA</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100015']" alt='100015'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100016']" alt='100016'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100017']" alt='100017'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100015'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100016'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100017'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display war">
            <p>GUERRA</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100018']" alt='100018'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100019']" alt='100019'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100020']" alt='100020'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100018'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='1000119'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100020'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display horror">
            <p>TERROR</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100021']" alt='100021'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100022']" alt='100022'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100023']" alt='100023'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100021'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100022'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100023'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display sci-fi">
            <p>SCI-FI</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100024']" alt='100024'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100025']" alt='100025'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100026']" alt='100026'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100024'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100025'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100026'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display musical">
            <p>MUSICAL</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100027']" alt='100027'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100028']" alt='100028'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100029']" alt='100029'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100027'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100028'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100029'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display historical">
            <p>HISTÓRICOS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100030']" alt='100030'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100031']" alt='100031'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100032']" alt='100032'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100030'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100031'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100032'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display kids">
            <p>CRIANÇAS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100033']" alt='100033'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100034']" alt='100034'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100035']" alt='100035'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100033'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100034'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100035'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="more_content">
            <p>OUTROS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">


                        <div class="carousel-item active item-reality-show">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100000']" alt='100000'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100001']" alt='100001'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100002']" alt='100002'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100000'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100001'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100002'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item item-romance">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100003']" alt='100003'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100004']" alt='100004'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100005']" alt='100005'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100003'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100004'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100005'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="carousel-item item-action">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100006']" alt='100006'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100007']" alt='100007'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100008']" alt='100008'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100006'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100007'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100008'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="carousel-item item-novel">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100009']" alt='100009'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100010']" alt='100010'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100011']" alt='100011'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100009'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100010'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100011'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item item-drama">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100012']" alt='100012'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100013']" alt='100013'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100014']" alt='100014'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100012'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100013'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100014'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="carousel-item item-comedy">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100015']" alt='100015'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100016']" alt='100016'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100017']" alt='100017'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100015'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100016'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100017'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="carousel-item item-war">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100018']" alt='100018'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100019']" alt='100019'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100020']" alt='100020'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100018'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='1000119'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100020'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="carousel-item item-horror">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100021']" alt='100021'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100022']" alt='100022'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100023']" alt='100023'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100021'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100022'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100023'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="carousel-item item-sci-fi">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100024']" alt='100024'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100025']" alt='100025'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100026']" alt='100026'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100024'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100025'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100026'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="carousel-item item-musical">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100027']" alt='100027'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100028']" alt='100028'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100029']" alt='100029'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100027'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100028'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100029'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="carousel-item item-historical">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100030']" alt='100030'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100031']" alt='100031'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100032']" alt='100032'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100030'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100031'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100032'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                
                        <div class="carousel-item item-kids">
                            <div class="">
                                <a class="data_text" [routerLink]="['/content-info', '100033']" alt='100033'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100034']" alt='100034'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text" [routerLink]="['/content-info', '100035']" alt='100035'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='100033'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='100034'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='100035'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="margin-bottom: 25%;"></div>

    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-yellow.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-white.png">
        </a>
    </div>
</div>