<div id="choose-favorite-news">
    <div id="step">
        <p>Passo 3/3</p>
    </div>

    <div id="title">
        <p>QUAIS NOTÍCIAS</p>
        <p>TE INTERESSAM MAIS</p>
    </div>

    <div id="divisor"></div>
  
    <div class="quizimgblock">

            <!-- row 01 -->
            <div class="item wrapper" alt='music' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/musica.jpg);">
                <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" alt='economy' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/economia.jpg);">
                <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" alt='politics' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/politica.jpg);">
                <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <!-- row 02 -->
            <div class="item wrapper" alt='tv' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/televisao.jpg);">
                <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" alt='sports' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/esportes.jpg);">
                <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" alt='culture' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/cultura.jpg);">
                <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <!-- row 03 -->
            <div class="item wrapper" alt='movies' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/filmes.jpg);">
                <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" alt='cars' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/carros.jpg);">
                <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" alt='tech' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/tecnologia.jpg);">
                <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <!-- row 04 -->
            <div id="row-04" >
                <div class="item wrapper" alt='international' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/internacional.jpg);">
                    <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                    <span class="check" style="margin-top: -5%;">
                        <img src="../../../assets/selected-03.png" alt="check">
                    </span>
                    </a>
                </div>

                <div class="item wrapper" alt='social' style="margin-right: 1.4%; background-image: url(../../../assets/news-types/social.jpg);">
                    <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                    <span class="check" style="margin-top: -5%;">
                        <img src="../../../assets/selected-03.png" alt="check">
                    </span>
                    </a>
                </div>

                <div class="item wrapper" alt='tragedies' style="background-image: url(../../../assets/news-types/tragedies.jpg)">
                    <a class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                    <span class="check" style="margin-top: -5%;">
                        <img src="../../../assets/selected-03.png" alt="check">
                    </span>
                    </a>
                </div>
            </div>

    </div>

    <div id="load-more" class="load-more">
        <p>Carregar mais</p>
    </div>

    <div id="save" class="save">
        <p>Salvar preferências</p>
    </div>

    <div id="warning">
        <p>Você poderá alterar depois</p>
    </div>
</div>