<div id="choose-favorite-news">
    <div id="step">
        <p>Passo 3/3</p>
    </div>

    <div id="title">
        <p>QUAIS NOTÍCIAS</p>
        <p>TE INTERESSAM MAIS</p>
    </div>

    <div id="divisor"></div>
  
    <div class="quizimgblock">

            <!-- row 01 -->
            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(../../../assets/news-types/musica.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(../../../assets/news-types/economia.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(../../../assets/news-types/politica.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <!-- row 02 -->
            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(../../../assets/news-types/televisao.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(../../../assets/news-types/esportes.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(../../../assets/news-types/cultura.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <!-- row 03 -->
            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(../../../assets/news-types/filmes.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(../../../assets/news-types/carros.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

            <div class="item wrapper" style="margin-right: 1.4%; background-image: url(../../../assets/news-types/tecnologia.jpg);">
                <a href="#" class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>
            </div>

    </div>

    <div id="load-more">
        <p>Carregar mais</p>
    </div>

    <div id="save">
        <p>Salvar preferências</p>
    </div>

    <div id="warning">
        <p>Você poderá alterar depois</p>
    </div>
</div>