<div id="find-friends">
    <div id="title">
        <p>ENCONTRE E</p>
        <p>SIGA SEUS AMIGOS</p>
    </div>

    <div id="divisor"></div>
  
    <input type="text" placeholder="Pesquisar usuário" id="search-input" style="font-size: 110%;">

    <div class="quizimgblock">

            <!-- row 01 -->
            <div class="item wrapper" alt='ana_almeida' style="margin-right: 1.4%; margin-bottom: 7%;">
                <a alt='ana_almeida' class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>

                <div>
                    <p class="name"
                        style="font-size: 70%;
                        margin-top: 95%;
                        display: inline-block;">
                    ana_almeida</p>
                </div>
            </div>

            <div class="item wrapper" alt='antonio_neto' style="margin-right: 1.4%; margin-bottom: 7%;">
                <a alt='antonio_neto' class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>

                <div>
                    <p class="name"
                        style="font-size: 70%;
                        margin-top: 95%;
                        display: inline-block;">
                    antonio_neto</p>
                </div>
            </div>

            <div class="item wrapper" alt='bruna_maba' style="margin-right: 1.4%; margin-bottom: 7%;">
                <a alt='bruna_maba' class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>

                <div>
                    <p class="name"
                        style="font-size: 70%;
                        margin-top: 95%;
                        display: inline-block;">
                    bruna_maba</p>
                </div>
            </div>

            <!-- row 02 -->
            <div class="item wrapper" alt='isabela_costa' style="margin-right: 1.4%; margin-bottom: 7%;">
                <a alt='isabela_costa' class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>

                <div>
                    <p class="name"
                        style="font-size: 70%;
                        margin-top: 95%;
                        display: inline-block;">
                    isabela_costa</p>
                </div>
            </div>

            <div class="item wrapper" alt='joao_santos' style="margin-right: 1.4%; margin-bottom: 7%;">
                <a alt='joao_santos' class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>

                <div>
                    <p class="name"
                        style="font-size: 70%;
                        margin-top: 95%;
                        display: inline-block;">
                    joao_santos</p>
                </div>
            </div>

            <div class="item wrapper" alt='leo_dutra' style="margin-right: 1.4%; margin-bottom: 7%;">
                <a alt='leo_dutra' class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>

                <div>
                    <p class="name"
                        style="font-size: 70%;
                        margin-top: 95%;
                        display: inline-block;">
                    leo_dutra</p>
                </div>
            </div>

            <!-- row 03 -->
            <div class="item wrapper" alt='maria_silva' style="margin-right: 1.4%; margin-bottom: 7%;">
                <a alt='maria_silva' class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check" style="margin-top: -5%">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>

                <div>
                    <p class="name"
                        style="font-size: 70%;
                        margin-top: 95%;
                        display: inline-block;">
                    maria_silva</p>
                </div>
            </div>
            
            <div class="item wrapper" alt='nanda_rodrigues' style="margin-right: 1.4%; margin-bottom: 7%;">
                <a alt='nanda_rodrigues' class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check" style="margin-top: -5%">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>

                <div>
                    <p class="name"
                        style="font-size: 70%;
                        margin-top: 95%;
                        display: inline-block;">
                    nanda_rodrigues</p>
                </div>
            </div>

            <div class="item wrapper" alt='ros_padilha' style="margin-right: 1.4%; margin-bottom: 7%;">
                <a alt='ros_padilha' class="quiz-answer multiple-answers" data-question="1" data-answer="1">
                <span class="check" style="margin-top: -5%">
                    <img src="../../../assets/selected-03.png" alt="check">
                </span>
                </a>

                <div>
                    <p class="name"
                        style="font-size: 70%;
                        margin-top: 95%;
                        display: inline-block;">
                    ros_padilha</p>
                </div>
            </div>

    <div id="save" class='save' style="margin-top: 5%">
        <p>Salvar preferências</p>
    </div>

    <div id="warning">
        <p>Você poderá alterar depois</p>
    </div>
</div>