@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap');

$background-color: #1D1D1D;
$background-color-dark: #131313;

$white: #FFFFFF;
$white-shade: #C5C5C5;

$red-shade: #E23E28;
$red-light-shade: #DE3A19;
$red-dark-shade: #A71501;

$green-light-shade: #EDB900;
$green-dark-shade: #FFD439;

$yellow-light-shade: #FFD439;
$yellow-dark-shade: #EDB900;

$blue-light-shade: #275AD3;
$blue-dark-shade: #1A3E95;

$grey-shade: #B0B0B0;
$grey-light-shade: #EDB900;
$grey-normal-shade: #5B5B5B;
$grey-dark-shade: #FFD439;

$facebook-color: #3565D0;
$google-color: #DC4335;

body {
    background: $background-color;
    font-family: 'Cabin';

    #navbar {
        display: none;
    }
    
    .link-active {
        display: block;
    }

    .link-inactive {
        display: none;
    }

    #link-copied {
        background-color: $background-color-dark;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        height: 9%;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 100%;
        letter-spacing: 0.05em;
        color: #000000;
        background-color: $yellow-light-shade;

        text-align: center;
        vertical-align: middle;

        p {
            padding-top: 4.5%;
        }

        z-index: 3;
    }

    #navbar {
        img {
            border: 2px solid #7DA627;
        }
    }

    #navbar, #navbar-without-login {
        background-color: $background-color-dark;
        position: fixed;
        height: 9%;
        top: 0;
        right: 0;
        left: 0;

        font-family: 'Barlow';
        font-style: normal;
        font-weight: 100;
        font-size: 120%;
        letter-spacing: 0.05em;
        color: $white;

        text-align: right;
        vertical-align: middle;

        padding-right: 5%;
        z-index: 2;

        p {
            position:absolute;
            top:25%;
            left: 25%;
            right: 21%;
        }

        #profile-picture {
            margin-right: -5%;
        }

        img {
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;

            height: 62.5%;
            margin-right: 5%;
            box-sizing: border-box;
            border-radius: 100%;
        }
    }

    #feats-happening {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: normal;
        font-size: 120%;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: $white;

        text-align: right;

        margin-top: 21%;
        padding-right: 1%;

        p {
            display: inline-block;
            margin-right: 5%;
            margin-bottom: 2.5%;
        }

        #circle {
            display: inline-block;
            margin-right: 2%;
            margin-bottom: 2.5px;
            background-color: $yellow-light-shade;
            border-radius: 100%;
        }

        .carousel-inner {
            width: 100%;
            display: inline-block;
            background-color: $background-color-dark;
            padding-top: 1%;
            border-radius: 25px;

            border-bottom-right-radius: 0px;

            #img {
                width: 15%;
                display: inline-block;
            }

            #img2 {
                width: 6%;
                display: inline-block;
                margin-left: -4.5%;
            }

            img {
                display: inline-block;
                width: 100%;
                border-radius: 100%;
                border: 1px solid #000000;
            }
        }
    }

    #footer {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;

        z-index: 2;
        height: 11%;
        background-color: $background-color-dark;

        img {
            width: 6.5%;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }

        #news {
            left: 10%;
        }

        #shows {
            width: 7.5%;
            left: 34%;
        }

        #sports {
            width: 7.7%;
            right: 34%;
        }

        #play {
            right: 10%;
        }
    }
    
    #navbar-without-login {
        pointer-events: all;
        background-color: $background-color-dark;
        position: fixed;
        top: 0;

        height: 9%;
        width: 100%;
        
        z-index: 2;

        a {
            float: right;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 15%;
            text-decoration: none;
          }

        img {
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;

            height: 62.5%;
            margin-right: 5%;
            box-sizing: border-box;
            border-radius: 100%;
        }
    }

    #not-mobile {
        margin: 15%;
        text-align: center;
        color: $white;
        font-family: 'Barlow';
        font-size: 150%;
        
        #p1 {
            margin-top: 3%;
            font-size: 80%;
        }
    }

    #authentication, #login, #retrievePassword, #createAccount {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20%;
        margin-bottom: 20%;
        text-align: center;

        img {
            width: 80%;
            margin-bottom: 3%;
        }
    }

    #authentication {
        a {
            text-decoration: none;
        }

        img {
            margin-bottom: 15%;
        }   

        #login {
            margin: 0;
        }

        #create-account, #login {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $green-light-shade,
                $green-light-shade 5.5%,
                $green-dark-shade 5.5%,
                $green-dark-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 600;
            font-size: 105%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: #000000;

            width: 100%;
            margin-top: -2%;

            p {
                margin-left: 12%;
                padding-top: 2.5%;
                padding-bottom: 3.5%;
            }
        }

        #later{
            outline: none;
            border: none;

            font-size: 100%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';
            font-weight: 100;
            letter-spacing: 0.1em;

            color: $white;

            width: 100%;
            
            a {
                text-decoration: none;
                font-weight: 400;
            }
        }
    }

    #login {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 100;
        font-size: 95%;
        line-height: 17px;
        letter-spacing: 0.1em;

        color: $white;

        #email, #password {
            text-align: left;

            p {
                margin-bottom: 2%;
            }
        }

        #email {
            margin-top: 6%;
            margin-bottom: 5%;
        }

        #password {
            margin-bottom: 10%;
        }

        input {
            border: 1px solid $grey-normal-shade;
            box-sizing: border-box;
            background-color: transparent;
            width: 100%;
            color: $white;
            font-size: 110%;
            font-weight: 100;
            padding: 3%;
        }

        #login{
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $green-light-shade,
                $green-light-shade 5.5%,
                $green-dark-shade 5.5%,
                $green-dark-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 600;
            font-size: 105%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: #000000;

            margin: 0;
            width: 100%;
            margin-top: -2%;

            p {
                margin-left: 12%;
                padding-top: 2.5%;
                padding-bottom: 3.5%;
            }
        }

        #home {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $grey-light-shade,
                $grey-light-shade 5.5%,
                $grey-dark-shade 5.5%,
                $grey-dark-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 600;
            font-size: 105%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: #000000;

            width: 100%;
            margin-top: -2%;

            p {
                margin-left: 12%;
                padding-top: 2.5%;
                padding-bottom: 3.5%;
            }
        }

        #forgot-password {
            outline: none;
            border: none;

            margin-top: 5%;
            font-size: 90%;
            letter-spacing: 0.05em;
            font-weight: 100;
            letter-spacing: 0.1em;

            width: 100%;
        }
    }

    #retrievePassword {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 100;
        font-size: 110%;
        line-height: 17px;
        letter-spacing: 0.1em;

        color: $white;

        #email {
            text-align: left;
            margin-bottom: 10%;
            margin-top: 10%;
        }

        input {
            margin-top: -2%;
            border: 1px solid $grey-normal-shade;
            box-sizing: border-box;
            background-color: transparent;
            width: 100%;
            color: $white;
            font-size: 120%;
            font-weight: 100;
            padding: 3%;
        }

        #confirm{
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $blue-dark-shade,
                $blue-dark-shade 5.5%,
                $blue-light-shade 5.5%,
                $blue-light-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 110%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: $white;

            margin: 0;
            width: 100%;

            p {
                margin-left: 12%;
                padding-top: 3.5%;
                padding-bottom: 4.5%;
            }
        }

        #home {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $grey-light-shade,
                $grey-light-shade 5.5%,
                $grey-dark-shade 5.5%,
                $grey-dark-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 110%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: $white;

            width: 100%;
            margin-top: -2%;

            p {
                margin-left: 12%;
                padding-top: 3.5%;
                padding-bottom: 4.5%;
            }
        }

    }

    #choose-favorite-shows, #choose-favorite-sport-shows, #choose-favorite-news, #find-friends {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
        
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 100;
        font-size: 100%;
        line-height: 17px;
        letter-spacing: 0.1em;

        color: $white;

        #load-more {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $blue-dark-shade,
                $blue-dark-shade 5.5%,
                $blue-light-shade 5.5%,
                $blue-light-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 110%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: $white;

            margin: 0;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: -6%;

            p {
                margin-left: 12%;
                padding-top: 3.5%;
                padding-bottom: 4.5%;
            }
        }

        #save {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $green-light-shade,
                $green-light-shade 5.5%,
                $green-dark-shade 5.5%,
                $green-dark-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 110%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: $white;

            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: -2%;

            p {
                margin-left: 12%;
                padding-top: 3.5%;
                padding-bottom: 4.5%;
            }
        }

        #warning {
            text-align: center;
            font-size: 90%;
            margin-top: -2%;
        }

        #step {
            text-align: right;
            font-size: 120%;
        }

        #title {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 600;
            font-size: 155%;
            line-height: 20px;
            text-align: right;
            letter-spacing: 0.1em;
        }

        .item {
            position: relative;
            width: 31%;
            margin: 3px;
            border-radius: 15px;
            margin-bottom: 1%;
            background-position: center center;
            background-size: cover;
            display: inline-block;
        }

        .quizimgblock {
            text-align: center;
            margin-bottom: 2em;

            .check {
                position: absolute;
                top:47%;
                left:47%;
                transform:translate(-45%, -45%);

                img {
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: 25%;
                    width: 50%;
                }
            }

            a .check {
                opacity: 0;
                display:inline-block;
                border-radius: 15px;
                margin: -4.5px;
                width:101%;
                height:101%;
            }

            .active .check {
                opacity: 1;
                background: rgba(7, 7, 7, 0.9);
            }
        }
    }

    #choose-favorite-shows {
        #title {
            color: $red-shade;
        }

        #divisor {
            width: 100%;
            height: 5px;
            margin-bottom: 4%;

            background: $red-shade;
        }
    }

    #choose-favorite-sport-shows {
        #title {
            color: $green-dark-shade;
        }

        #divisor {
            width: 100%;
            height: 5px;
            margin-bottom: 4%;

            background: $green-dark-shade;
        }
    }

    #choose-favorite-news {
        #title {
            color: $white;
        }

        #divisor {
            width: 100%;
            height: 5px;
            margin-bottom: 4%;

            background: $white;
        }
    }

    #find-friends {
        margin-top: 7%;
        #title {
            color: $white-shade;
        }

        #divisor {
            width: 100%;
            height: 5px;
            margin-bottom: 4%;

            background: $white-shade;
        }

        input {
            color: $background-color;
            border:  none;
            padding: 2%;
            padding-left: 5%;
            font-size: 130%;
            width: 100%;
            margin-top: 2%;
            margin-bottom: 4%;
            background-size: 7%;
            background-image: url(https://img.icons8.com/ios/500/search--v1.png);
            background-repeat: no-repeat;
            background-position : 97%;
        }
    }

    #createAccount {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 100;
        font-size: 100%;
        line-height: 17px;
        letter-spacing: 0.1em;

        color: $white;

        #name, #email, #password {
            text-align: left;
        }

        #name {
            padding-top: 3%;
        }

        input {
            margin-top: -3%;
            margin-bottom: 4%;
            border: 1px solid $grey-normal-shade;
            box-sizing: border-box;
            background-color: transparent;
            width: 100%;
            color: $white;
            font-size: 130%;
            font-weight: 100;
            padding: 3%;
        }

        #confirm{
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $blue-dark-shade,
                $blue-dark-shade 5.5%,
                $blue-light-shade 5.5%,
                $blue-light-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 120%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: $white;

            margin: 0;
            width: 100%;
            margin-top: 5%;

            p {
                margin-left: 12%;
                padding-top: 3.5%;
                padding-bottom: 4.5%;
            }
        }

        #home {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $grey-light-shade,
                $grey-light-shade 5.5%,
                $grey-dark-shade 5.5%,
                $grey-dark-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 120%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: $white;

            width: 100%;
            margin-top: -2%;

            p {
                margin-left: 12%;
                padding-top: 3.5%;
                padding-bottom: 4.5%;
            }
        }
    }

    #association {
        text-align: center;
        margin: 10%;
        margin-top: 30%;

        font-family: 'Barlow';
        font-style: normal;
        font-weight: 100;
        font-size: 100%;
        line-height: 19px;
        letter-spacing: 0.05em;

        color: $white;

        img {
            width: 22%;
            margin-bottom: 6%;
        }

        h1 {
            font-family: Cabin;
            font-style: 100;
            font-weight: normal;
            font-size: 170%;
            line-height: 32px;

            letter-spacing: 0.05em;
        }

        h2 {
            font-size: 90%;
        }

        #divisor {
            width: 100%;
            height: 0;

            margin-top: 6%;
            margin-bottom: 6%;
            border: 2px solid $red-light-shade;
        }

        p {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 100;
            font-size: 95%;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.05em;
        }

        #login {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $red-dark-shade,
                $red-dark-shade 5.5%,
                $red-light-shade 5.5%,
                $red-light-shade 85%,
            );

            font-style: normal;
            font-size: 100%;
            line-height: 19px;
            letter-spacing: 0.01em;
            font-family: 'Barlow';

            margin: 0;
            width: 100%;
            margin-top: 10%;

            p {
                font-weight: bold;
                text-align: left;
                padding-left: 12%;
                padding-top: 2.5%;
                padding-bottom: 3.2%;
                color: #000000;
            }
        }

        #later {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $yellow-light-shade,
                $yellow-light-shade 5.5%,
                $yellow-dark-shade 5.5%,
                $yellow-dark-shade 85%,
            );

            font-style: normal;
            font-size: 100%;
            line-height: 19px;
            letter-spacing: 0.01em;
            font-family: 'Barlow';
            
            margin: 0;
            width: 100%;
            margin-top: -2%;

            p {
                font-weight: bold;
                text-align: left;
                padding-left: 12%;
                padding-top: 2%;
                padding-bottom: 3.5%;
                color: #000000;
            }
        }
    }

    #shows-home, #sports-home, #choose-show-feat-content, #choose-sport-feat-content, #share-feat {

        input {
            margin-left: 7%;
            margin-right: 5%;
            margin-top: 3.5%;
            padding-left: 4%;

            font-size: 120%;

            border:  none;
            outline: none;
            
            background-size: 6%;
            background-image: url(https://img.icons8.com/ios/500/search--v1.png);
            background-repeat: no-repeat;
            background-position : 97%;

            width: 86.5%;
        }

        #series-movies {
            text-align: left;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 600;
            font-size: 130%;
            line-height: 25px;
            letter-spacing: 0.05em;

            color: #F3992A;

            margin-top: 5%;
            padding-left: 3%;

            p {
                display: inline-block;
                margin-left: 4%;
                margin-bottom: 2.5%;
            }

            #user {
                border-radius: 100%;
                width: 10%;
                margin-left: -8%;
                margin-top: -5%;
                border: 1px solid #000000;
            }

            .carousel-inner {
                width: 100%;
                display: inline-block;
                padding-top: 1%;

                #titles {
                    text-align: left;
                    color: $white;
                    font-size: 65%;

                    p {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                #img {
                    width: 28%;
                    display: inline-block;
                }

                img {
                    display: inline-block;
                    width: 100%;
                }
            }
        }

        #more {
            text-align: left;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 600;
            font-size: 130%;
            line-height: 25px;
            letter-spacing: 0.05em;

            color: #F3992A;

            padding-left: 3%;

            margin-bottom: 20%;

            p {
                display: inline-block;
                margin-left: 4%;
                margin-bottom: 2.5%;
            }

            #user {
                border-radius: 100%;
                width: 10%;
                margin-left: -8%;
                margin-top: -5%;
                border: 1px solid #000000;
            }

            .carousel-inner {
                width: 100%;
                display: inline-block;
                padding-top: 1%;

                #titles {
                    text-align: left;
                    color: $white;
                    font-size: 65%;

                    p {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                #img {
                    width: 28%;
                    display: inline-block;
                }

                img {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }

    #news-home {
        #categories {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: normal;
            font-size: 120%;
            line-height: 25px;
            letter-spacing: 0.05em;
            color: $white;

            text-align: right;

            margin-top: 5%;
            padding-right: 1%;

            p {
                display: inline-block;
                margin-right: 5%;
                margin-bottom: 2.5%;
            }

            .carousel-inner {
                width: 100%;
                display: inline-block;
                padding-top: 1%;

                #img {
                    width: 18%;
                    display: inline-block;
                }

                img {
                    display: inline-block;
                    width: 100%;
                    border-bottom-right-radius: 15px;
                }
            }

            #previousIcon {
                color: $white;
                font-weight: bold;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                margin-top: -15%;
            }

            #nextIcon {
                color: $white;
                font-weight: bold;
                margin-top: -15%;
            }
        }

        #chosenCategory {
            text-align: left;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 600;
            font-size: 130%;
            line-height: 25px;
            letter-spacing: 0.05em;

            color: #3677FF;

            margin-left: 5%;
            margin-right: 5%;
            margin-top: 5%;

            #load-more {
                outline: none;
                border: none;

                margin-top: 3%;
                margin-bottom: 30%;
    
                background-image: linear-gradient(
                    to right, 
                    $yellow-dark-shade,
                    $yellow-dark-shade 5.5%,
                    $yellow-light-shade 5.5%,
                    $yellow-light-shade 85%,
                );
    
                text-align: left;
                font-style: normal;
                font-weight: 600;
                font-size: 80%;
                line-height: 19px;
                letter-spacing: 0.05em;
                font-family: 'Barlow';
    
                color: #000000;
    
                width: 90%;
                margin-left: 2.4%;

                p {
                    padding-left: 10%;
                    padding-top: 3%;
                    padding-bottom: 3%;
                }
            }

            #content {
                color: $white;

                #like, a {
                    text-decoration: none;
                    display: none;
                }

                .active {
                    background-color: $background-color-dark;
                    border-radius: 20px;
                    padding-top: 3%;
                    padding-bottom: 3%;
                    margin-bottom: 5%;

                    a {
                        text-decoration: none;
                        display: inline-block;
                    }

                    #like {
                        display: inline-block;
                        position: absolute;
                        outline: 0;
                        border-radius: 15px;
                        background: #1D1D1D;
                        border: 3px solid #131313;
                        box-sizing: border-box;
                        right: 7%;
                        color: $white;
                        font-weight: 400;
                        font-size: 70%;

                        width: 20%;
                        padding-left: 2.5%;
                        

                        img {
                            width: 30%;
                            padding-top: 1%;
                        }
                    }
                }

                img {
                    display: inline-block;
                    width: 20%;
                    margin-top: -12%;
                    margin-left: 2%;

                    p, img {
                        padding-bottom: -50px;
                    }

                    border-radius: 20px;
                }

                #description {
                    display: inline-block;
                    margin-left: 4%;
                    width: 65%;
                }

                h1 {
                    font-size: 90%;
                }

                p {
                    font-size: 60%;
                    font-weight: 100;
                    line-height: 17px;
                    text-align: justify;
                }

                a {
                    text-decoration: none;
                    padding-left: 5%;
                    font-weight: 400;
                    font-size: 70%;
                    color: #EDB900;
                }
            }
        }
    }

    #sports-home {
        #soccer {
            text-align: left;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 600;
            font-size: 130%;
            line-height: 25px;
            letter-spacing: 0.05em;

            color: #7DA627;

            margin-top: 5%;
            padding-left: 3%;

            p {
                display: inline-block;
                margin-left: 4%;
                margin-bottom: 2.5%;
            }

            #user {
                border-radius: 100%;
                width: 10%;
                margin-left: -8%;
                margin-top: -5%;
                border: 1px solid #000000;
            }

            .carousel-inner {
                width: 100%;
                display: inline-block;
                padding-top: 1%;

                #titles {
                    text-align: left;
                    color: $white;
                    font-size: 65%;

                    p {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                #img {
                    width: 28%;
                    display: inline-block;
                }

                img {
                    display: inline-block;
                    width: 100%;
                }
            }
        }

        #more {
            text-align: left;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 600;
            font-size: 130%;
            line-height: 25px;
            letter-spacing: 0.05em;

            color: #7DA627;

            padding-left: 3%;

            margin-bottom: 20%;

            p {
                display: inline-block;
                margin-left: 4%;
                margin-bottom: 2.5%;
            }

            #user {
                border-radius: 100%;
                width: 10%;
                margin-left: -8%;
                margin-top: -5%;
                border: 1px solid #000000;
            }

            .carousel-inner {
                width: 100%;
                display: inline-block;
                padding-top: 1%;

                #titles {
                    text-align: left;
                    color: $white;
                    font-size: 65%;

                    p {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                #img {
                    width: 28%;
                    display: inline-block;
                }

                img {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }

    #content-info {

        margin-bottom: 27%;

        #top-info {
            color: $white;
            margin-left: 7%;
            margin-right: 7%;

            img {
                width: 27%;
                margin-right: 5%;
                margin-top: -19.5%;
                display: inline-block;
            }
    
            #info {
                padding-top: 28%;
                width: 68%;
                height: 20%;
                line-height: 30%;
                display: inline-block;

                #title {
                    color: $white;
                    font-size: 100%;
                }

                p {
                    color: #C5C5C5;
                    font-size: 80%;
                    font-weight: 100;
                }

                #likes {
                    color: #000000;
                    margin-top: -2.5%;
                    padding: 5%;
                    font-weight: bold;
                    font-size: 90%;
                    background-color: $yellow-light-shade;
                }
            }
        }

        #description {
            color: $white;
            margin-left: 7%;
            margin-right: 7.5%;
            margin-top: 5%;
            text-align: justify;
            font-family: 'Barlow';
            font-weight: 100;
            line-height: 130%;
        }

        #like {
            margin-left: 7%;
            margin-right: 7.5%;
            width: 85%;

            border-radius: 6px;

            font-family: 'Barlow';
            font-weight: 600;

            img {
                display: inline-block;
                width: 8%;
                margin-top: -1.8%;
                margin-left: 5%;
                margin-right: 5%;
            }

            p {
                display: inline-block;
                margin-bottom: -1%;
            }
        }

        .like-inactive {
            border: 2px solid $white;
            color: $white;

            p {
                padding-top: 3%;
                padding-bottom: 4%;
            }
        }

        .like-active {
            border: none;
            background-color: $yellow-light-shade;
            color: #000000;

            p {
                padding-top: 3.3%;
                padding-bottom: 4%;
            }
        }

        #recomended-by {
            color: white;
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 95%;
            margin-top: 4%;

            p {
                margin-left: 7%;
                margin-bottom: 1%;
            }

            .carousel-inner {
                width: 100%;
                display: inline-block;
                background-color: #282828;
                padding-top: 2.5%;
                border-radius: 25px;

                border-bottom-right-radius: 0px;

                #img {
                    width: 11%;
                    display: inline-block;
                }

                img {
                    display: inline-block;
                    width: 100%;
                    border-radius: 100%;
                    border: 2px solid $yellow-light-shade;
                }
            }
        }

        #buttons {
            #create-feat, #back {
                outline: none;
                border: none;
    
                background-image: linear-gradient(
                    to right, 
                    $yellow-dark-shade,
                    $yellow-dark-shade 5.5%,
                    $yellow-light-shade 5.5%,
                    $yellow-light-shade 85%,
                );
    
                text-align: left;
                font-style: normal;
                font-weight: 600;
                font-size: 100%;
                line-height: 19px;
                letter-spacing: 0.05em;
                font-family: 'Barlow';
    
                color: #000000;
    
                margin: 0;
                width: 82%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2%;
                padding-top: 3%;
                padding-bottom: 3.5%;
    
                a {
                    text-decoration: none;
                    color: #000000;
                    margin-left: 12%;
                }
            }
        }
    }

    #feat-home, #feat-type, #enter-feat {
        margin-top: 35%;

        #main-div {
            img {
                width: 70%;
                margin-left: 15%;
                margin-bottom: 7%;
            }

            #create-feat, #enter-feat {
                outline: none;
                border: none;

                background-image: linear-gradient(
                    to right, 
                    $yellow-dark-shade,
                    $yellow-dark-shade 5.5%,
                    $yellow-light-shade 5.5%,
                    $yellow-light-shade 85%,
                );

                text-align: left;
                font-style: normal;
                font-weight: 600;
                font-size: 100%;
                line-height: 19px;
                letter-spacing: 0.05em;
                font-family: 'Barlow';

                color: #000000;

                margin: 0;
                width: 75%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 2.1%;
                padding-top: 2%;
                padding-bottom: 2.5%;

                a {
                    text-decoration: none;
                    color: #000000;
                    margin-left: 12%;
                }
            }
        }
    }

    #enter-feat {
        p {
            color: $white;
            font-family: 'Barlow';
            font-size: 95%;

            margin-bottom: 3%;
            margin-left: 12.5%;
        }

        input {
            width: 75%;
            margin-left: 12.5%;
            margin-top: -5%;
            margin-bottom: 4%;
            background-color: transparent;
            color: #5B5B5B;
            border: 1px solid #5B5B5B;
            padding-left: 4%;
            padding-top: 1%;
            padding-bottom: 1%;
        }
    }

    #feat-type {
        #next, #back {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $yellow-dark-shade,
                $yellow-dark-shade 5.5%,
                $yellow-light-shade 5.5%,
                $yellow-light-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 600;
            font-size: 100%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: #000000;

            margin: 0;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2.1%;
            padding-top: 2%;
            padding-bottom: 2.5%;

            a {
                text-decoration: none;
                color: #000000;
                margin-left: 12%;
            }
        }

        #choose-feat {
            text-align: center;
            font-family: 'Barlow';
            font-size: 90%;
            color: $white;

            img {
                margin-top: 2%;
                margin-bottom: 5%;
                display: inline-block;
                width: 20%;
            }
        }
    }

    #choose-show-feat-content, #choose-sport-feat-content, #share-feat {
        margin-top: 25%;

        #logo-img {
            width: 70%;
            display: inline-block;
            margin-left: 16%;
            margin-bottom: 7%;
        }

        #chosen-content {
            z-index: 2;
            background-color: $grey-dark-shade;
            position: fixed;
            top: 25%;
            left: 20%;
            right: 20%;
            padding: 5%;
            text-align: center;
            color: $white;
            border-radius: 15px;

            #close {
                text-align: right;
                font-size: 130%;
                margin-top: -6%;
            }

            img {
                width: 70%;
                border-radius: 100%;
            }

            #chosen-content-title {
                margin-top: 4%;
                font-size: 120%;
            }

            #choose-content {
                font-weight: 600;
                padding-top: 5%;
                background-image: linear-gradient(
                    to right, 
                    $yellow-dark-shade,
                    $yellow-dark-shade 5.5%,
                    $yellow-light-shade 5.5%,
                    $yellow-light-shade 85%,
                );
                color: #000000;

                p {
                    padding-bottom: 5%;
                }
            }
        }
    }

    #share-feat {
        margin-bottom: 25%;

        #main-div {
            text-align: center;
            font-family: 'Barlow';
            font-weight: 100;
            color: $white;

            h5 {
                margin-top: -5%;
            }

            #feat-info {
                margin-top: 9%;
                font-size: 92%;
                line-height: 17px;
                letter-spacing: 0.07em;

                span {
                    font-family: 'Rubik';
                    font-size: 90%;
                    font-weight: 400;
                    color: $yellow-light-shade;
                }

                #feat-link {
                    background-color: $background-color-dark;
                    width: 80%;
                    font-size: 95%;
                    margin-top: -2.5%;
                    margin-left: 10%;
                    padding-top: 2%;
                    border-radius: 6px;

                    p {
                        padding-bottom: 3%;
                    }
                }

                #copy-feat-link {
                    width: 80%;
                    margin-left: 10%;
                    margin-top: -2%;
                    border: 2px solid $white;
                    border-radius: 6px;

                    img {
                        margin-top: -2%;
                        display: inline-block;
                        width: 8%;
                    }

                    p {
                        padding-top: 4%;
                        margin-bottom: 4%;
                        font-size: 120%;
                        font-weight: 400;
                        display: inline-block;
                        margin-left: 5%;
                    }
                }
            }

            #copy-link-text {
                font-size: 90%;
                margin-top: 5%;
                margin-bottom: 7%;
                margin-left: 15%;
                width: 70%;
            }
        }

        #next, #back {
            outline: none;
            border: none;

            background-image: linear-gradient(
                to right, 
                $yellow-dark-shade,
                $yellow-dark-shade 5.5%,
                $yellow-light-shade 5.5%,
                $yellow-light-shade 85%,
            );

            text-align: left;
            font-style: normal;
            font-weight: 600;
            font-size: 100%;
            line-height: 19px;
            letter-spacing: 0.05em;
            font-family: 'Barlow';

            color: #000000;

            margin: 0;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2.1%;
            padding-top: 2%;
            padding-bottom: 2.5%;

            a {
                text-decoration: none;
                color: #000000;
                margin-left: 12%;
            }
        }
    }
}