<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="choose-sport-feat-content">
    <div id="navbar">
        <p>@wonder_woman</p>
        <div id="profile-picture">
            <img src="https://d.newsweek.com/en/full/1566603/wonder-woman-1984.jpg?w=1600&h=1600&q=88&f=f992f9debf800ee5eec2d796c0a64119">
        </div>
    </div>

    <img id='logo-img' src="../../../assets/logo.png">

    <input style='font-size: 100%; padding-top: 1.5%; padding-bottom: 1%;' type="text" placeholder="Pesquisar conteúdo">

    <div id="chosen-content" class="chosen-content">
        <p id="close">x</p>
        <img id="chosen-content-img" src="https://i.imgur.com/3aIutJi.png">
        <p id="chosen-content-title">Titulo</p>
        <a id="choose-content-link">
            <div id="choose-content">
                <p>Escolher conteúdo</p>
            </div>
        </a>
    </div>

    <div id="series-movies">
        <p style="margin-top: 2%; color: #7DA627">ESPORTES</p>

        <div class="container" style="margin-top: 2%;">
            <div class="carousel-inner">
                <a class="choose-title">
                    <span style="display:'none'">000001</span>
                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 0" /></div>
                </a>
                <a class="choose-title">
                    <span style="display:'none'">000002</span>
                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo do filme" /></div>
                </a>
                <a class="choose-title">
                    <span style="display:'none'">000003</span>
                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo aleatorio" /></div>
                </a>
                
                <div id="titles">
                    <p style="width: 28%; margin-left: 0.75%;">Titulo 0</p>
                    <p style="width: 28%; margin-left: 3.5%;">Titulo do filme</p>
                    <p style="width: 28%; margin-left: 5%;">Titulo aleatorio</p>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: -3%;">
            <div class="carousel-inner">
                <a class="choose-title">
                    <span style="display:'none'">000004</span>
                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 2" /></div>
                </a>
                <a class="choose-title">
                    <span style="display:'none'">000005</span>
                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo 123" /></div>
                </a>
                <a class="choose-title">
                    <span style="display:'none'">000006</span>
                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo bonito" /></div>
                </a>
                
                <div id="titles">
                    <p style="width: 28%; margin-left: 0.75%;">Titulo 2</p>
                    <p style="width: 28%; margin-left: 3.5%;">Titulo 123</p>
                    <p style="width: 28%; margin-left: 5%;">Titulo bonito</p>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: -3%; margin-bottom: 25%;">
            <div class="carousel-inner">
                <a class="choose-title">
                    <span style="display:'none'">000007</span>
                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="Titulo 1" /></div>
                </a>
                <a class="choose-title">
                    <span style="display:'none'">000008</span>
                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="Titulo longo" /></div>
                </a>
                <a class="choose-title">
                    <span style="display:'none'">000009</span>
                    <div id="img" style="margin-left: 4%;"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="Titulo muito longo" /></div>
                </a>
                
                <div id="titles">
                    <p style="width: 28%; margin-left: 0.75%;">Titulo 1</p>
                    <p style="width: 28%; margin-left: 3.5%;">Titulo longo</p>
                    <p style="width: 28%; margin-left: 5%;">Titulo muito longo</p>
                </div>
            </div>
        </div>

    </div>

    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-yellow.png">
        </a>
    </div>
</div>