<div id="navbar-without-login">
    <div id="profile-picture">
        <a href="/authentication">
            <img src="../../../assets/no-user.png">
        </a>
    </div>
</div>

<div id="choose-sport-feat-content">
    <div id="navbar" style="display: none;">
        <p id="username"></p>
        <div id="profile-picture">
            <a href="/authentication">
                <img id='user_picture'>
            </a>
        </div>
    </div>
    
    <img id='logo-img' src="../../../assets/logo.png">

    <input style='font-size: 100%; padding-top: 1.5%; padding-bottom: 1%;' id='search-input' type="text" placeholder="Pesquisar conteúdo">

    <div id="chosen-content" class="chosen-content" style="background-color: rgb(42, 43, 43);">
        <p id="close">x</p>
        <img id="chosen-content-img" src="https://i.imgur.com/3aIutJi.png">
        <p id="chosen-content-title">Titulo</p>
        <a id="choose-content-link">
            <div id="choose-content">
                <p>Escolher conteúdo</p>
            </div>
        </a>
    </div>
    
    <div id="main-div">
        <div id="series-movies" class="series-movies display soccer">
            <p style="color: #7DA627;">FUTEBOL</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200000'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200001'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200002'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200000'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200001'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200002'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display premiere">
            <p style="color: #7DA627;">PREMIERE</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200003'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200004'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200005'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200003'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200004'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200005'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display olympics">
            <p style="color: #7DA627;">OLIMPIADAS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200006'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200007'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200008'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200006'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200007'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200008'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display formula-1">
            <p style="color: #7DA627;">FORMULA 1</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200009'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200010'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200011'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200009'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200010'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200011'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display ufc">
            <p style="color: #7DA627;">UFC</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200012'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200013'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200014'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200012'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200013'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200014'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display volei">
            <p style="color: #7DA627;">VÔLEI</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200015'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200016'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200017'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200015'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200016'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200017'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display basketball">
            <p style="color: #7DA627;">BASQUETE</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200018'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200019'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200020'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200018'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='2000119'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200020'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display skate">
            <p style="color: #7DA627;">SKATE</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200021'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200022'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200023'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200021'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200022'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200023'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display gymnastics">
            <p style="color: #7DA627;">GINÁSTICA</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200024'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200025'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200026'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200024'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200025'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200026'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display swimming">
            <p style="color: #7DA627;">NATAÇÃO</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200027'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200028'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200029'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200027'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200028'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200029'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display judo">
            <p style="color: #7DA627;">JUDÔ</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200030'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200031'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200032'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200030'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200031'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200032'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 97%;
                    height: 3px;
                    margin-bottom: 6%;
                    margin-top: 1%;
                    background: #2e2e2e;">
                </div>
            </div>
        </div>

        <div id="series-movies" class="series-movies display tenis">
            <p style="color: #7DA627;">TÊNIS</p>

            <div class="container">
                <div id='carouselContainer' class="carousel slide" data-ride="carousel" data-interval="3500">
                    <div class="carousel-inner">
                        <div class="carousel-item display active">
                            <div class="">
                                <a class="data_text choose-title" alt='200033'>
                                    <div id="img"><img src="https://i.imgur.com/3aIutJi.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200034'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/8946bSF.png" class="d-block" alt="js" /></div>
                                </a>

                                <a class="data_text choose-title" alt='200035'>
                                    <div id="img" style="margin-left: 5%"><img src="https://i.imgur.com/eQoyQjy.png" class="d-block" alt="js" /></div>
                                </a>
                                
                                <div id="titles">
                                    <p style="width: 28%; margin-left: 0.75%;" class='200033'>Titulo 1</p>
                                    <p style="width: 28%; margin-left: 5.5%;" class='200034'>Titulo longo</p>
                                    <p style="width: 28%; margin-left: 6.5%;" class='200035'>Titulo muito longo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 25%;"></div>

    <div id="footer">
        <a href="/news">
            <img id="news" src="../../../assets/news-white.png">
        </a>
        <a href="/shows">
            <img id='shows' src="../../../assets/popcorn-white.png">
        </a>
        <a href="/sports">
            <img id="sports" src="../../../assets/sports-white.png">
        </a>
        <a href="/feat-home">
            <img id="play" src="../../../assets/player-yellow.png">
        </a>
    </div>
</div>